
:root{
    /*COLORS*/
    --main-color: #8f754f;
    --heading-color: #303030;
    --color-gray: #666;
    --color-gray-2: #444;
    /* Fontweight */
    --fw-600: 600;
    --fw-700: 700;
    --fw-500: 500;
    /* transition */
    --transition: all .5s ease;
    /*Font family*/
    --custome-font: 'Alegreya', serif, monospace;
    --normal-font: 'Alegreya Sans',serif,monospace;;
}
body{
    font-family: var(--normal-font);
    color: var(--color-gray);
}
ul{
    list-style: none;
}
.intil-background{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--custome-font);
}
.bg-main{
    background-color: var(--main-color) !important;
}
/* .container{
    width: 85%;
    margin:auto;
    overflow: auto;
}
/*CONTAINER SRTYLE MOBILE SCREEN
@media screen and (max-width: 576px){
    .container{
        width: 100%;
        padding: 0 15px
    }
}
/*CONTAINER SRTYLE MEDIUM SCREEN
@media screen and (max-width: 767px) and (min-width: 577px){
    .container{
        width: 450px
    }
} */
/* .flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}
.section-img{
    width: 48%;
}
.section-img img{
    width: 100%
}
.section-content{
    width: 48%;
}
@media screen and (max-width: 767px){
    .flex-box{
        flex-direction: column;
    }
    .section-img{
        width: 100%;
    }
    .section-content{
        width: 100%;
    }
    .flex-box div:last-of-type{
        margin-top: 30px;
    }
}
.section-title{
    color: #303030;
    margin-bottom: 30px;
    font-family: 'Alegreya', serif, monospace;
    font-size: 32px;
}
@media screen and (max-width: 767px){
    .section-title{
        font-size: 25px;
    }
}
.icon{
    width: 20px;
    margin-right: 10px;
} */
/*NAVBAR SECTION*/
.navbar{
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: var(--transition);
}
.navbar .logo{
    width: 15%;
}
.navbar a{
    transition: var(--transition);   
}
.navbar-dark .nav-link{
    color: #fff !important;
}
.navbar-light .nav-link{
    color: var(--heading-color) !important;
}
.navbar a:hover, .nav-link.active{
    color: var(--main-color) !important
}
.nav-link{
    padding: 0 15px !important;
    font-size: 13px;
    font-weight: var(--fw-600);
    letter-spacing: .5px;
}

/*Navbar Mediaquery*/
@media screen and (max-width: 767px){
    .navbar .logo{
        width: 140px;
    }
}
@media screen and (max-width: 991px) {
    .navbar a{
        padding-top: 1%  !important;
        padding-bottom: 1%  !important;
        color: #282828;
    }
    .navbar-dark .nav-link{
        color: var(--heading-color) !important;
    }
    .nav-link.active{
        color: var(--main-color) !important
    }
    .in{
        background-color: #fff;
        position: absolute;
        top: 100%;
        width: 100%;
        left:0;
    }
}
/*HOME SECTION */
.home{
    background-image: url(../images/drew-coffman-1872.jpg);
}

.home-content h1{
    font-weight: var(--fw-600);
}
.home-content p{
    line-height: 1.86em;
}
.home button{
    margin-right: 5px;
    padding: 15px 20px;
    cursor: pointer;
    transition: var(--transition);
}
.learn-more{
    border: none;
}
.contact-us{
    border: 1px solid #fff;
}
.learn-more:hover, 
.contact-us:hover{
    background-color: #fff !important;
    color: var(--heading-color) !important;
}

/*ABOUT SECTION*/
.about ul{
    margin-top: 30px;
}
.about ul li{
    display: flex;
    text-align: center;
    padding: 15px 0;
}
/*Offer Section*/
.offer{
    background-color:#f8f8f8;
}
.offer .section-content p:first-of-type{
    margin-bottom: 20px;
}
/* Gallery Section */
.gallery-box{
    width: calc(100% / 3 - 20px);
    text-align: center;
}
.gallery-box img{
    width: 100%;
}
.gallery-box h4{
    margin: 15px 0;
}
.gallery .section-title{
        margin-top:20px;
        text-align: center;
}
@media screen and (max-width: 767px){
    .gallery .flex-box div:first-of-type{
        margin: 0
    }
    
    .gallery .flex-box div{
        margin-top: 30px;
    }
    .gallery-box{
        width: 100%
    }
}

/*BLOG SECTION*/
.blog ul{
    margin-top: 30px;
}
.blog ul li{
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.blog .section-img iframe{
    width: 100%;
}
/*CONTACT SECTION*/
.contact{
    background-color: #403d38;
}
.contact .flex-box{
 align-items: flex-start;
}
.contact .info-list{
    width: calc(25% - 10px);
}
.contact .info-list h4{
    margin: 20px 0;
    color: #fff;
}
.contact .flex-box div:first-of-type p{
    margin-bottom: 30px;
}
.contact .info-list ul li{
    display: flex;
    align-items: center;
    padding-bottom: 7px;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
.contact .info-list ul li:last-of-type{
    border-bottom: 0;
}
.contact .info-list ul li p, .contact .info-list ul li a{
    width: 90%;
    padding-left: 10px; 
}
.contact .icon{
    margin: 0;
    width: 10%;
}
.contact .info-list ul li a{
    color: #686868;
    transition: .7s color ease-in-out;
}
.contact .info-list ul li a:hover{
    color: rgba(228, 228, 228, 0.671);
}
@media screen and (max-width: 767px){
    .contact .info-list{
        width: 100% !important;
    }
    .contact .flex-box{
        align-items:center;
    }
    .contact .info-list{
        margin-top: 20px;
    }
    .contact .flex-box div:first-of-type{
        margin-top: 0;
    }
}
@media screen and (max-width:991px){
    .contact .info-list{
        width: calc(50% - 10px);
    }
    .contact .icon{
        width: 25px
    }
}
.footer{
    background-color:#353330;
    padding: 30px 0;
    text-align: center;
}
.footer .footer-img{
    margin-bottom: 30px;
}
.footer-img img{
    max-width: 100%;
}
.footer ul{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer ul li{
    margin-left: 15px;
}
.footer ul li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/*demo-panel-menu*/
.demo-panel-menu{
    position: fixed;
    top: 200px;
    right: 0;
    background-color: #f8f8f8;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 3;
}
.demo-panel-menu div{
    width: 30px;
    position: relative;
    cursor: pointer;
}
.demo-panel-menu span{
    position: absolute;
    top: 0;
    color: #fff;
    font-weight: 500;
    background-color: rgb(31, 98, 197);
    padding: 2px 8px;
    border-radius: 3px;
    display: none;
}
.demo-panel-menu div img{
    width: 100%;
}
.demo-panel-menu .dimo-1{
    margin-bottom: 20px; 
}
.demo-1 span{
    left: -126px;
}
.demo-2 span{
    left:  -138px;
}
.demo-1:hover  span{
    display: block;
}
.demo-2:hover  span{
    display: block;
}
/*Pointer Animations*/

.pointer{
    width: 30px;
    height: 50px;
    bottom: 10px;
    cursor: pointer;
}
.pointer span{
    height: 8px;
    width: 8px;
    top: 1px;
    animation-name: moveTobottom; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes moveTobottom {
    0%{
        opacity: 0;
        top: 10%;
    }
    50%{
        opacity: 1;
        top: 50%;
    }
    100%{
        opacity: 0;
        top: 80%;
    }
}